<div class="contenedor-ahorcado">
    <h1>Juego del Ahorcado</h1>
    
    <div class="juego-container">
      <div class="columna-izquierda">
        <div class="ahorcado-dibujo">
          <div class="poste-vertical"></div>
          <div class="poste-horizontal"></div>
          <div class="cuerda"></div>
          @if (mostrarParteCuerpo('cabeza')) {
            <div class="cabeza"></div>
          }
          @if (mostrarParteCuerpo('torso')) {
            <div class="torso"></div>
          }
          @if (mostrarParteCuerpo('brazo-izq')) {
            <div class="brazo-izq"></div>
          }
          @if (mostrarParteCuerpo('brazo-der')) {
            <div class="brazo-der"></div>
          }
          @if (mostrarParteCuerpo('pierna-izq')) {
            <div class="pierna-izq"></div>
          }
          @if (mostrarParteCuerpo('pierna-der')) {
            <div class="pierna-der"></div>
          }
        </div>
  
        <p>Intentos restantes: {{ intentosRestantes }}</p>
  
        <div class="contenedor-palabra">
          @for (letra of palabraAdivinada; track $index) {
            <span class="letra">{{ letra }}</span>
          }
        </div>
      </div>
  
      <div class="columna-derecha">
        <div class="botones-letras">
          @for (letra of letras; track letra) {
            <button (click)="adivinarLetra(letra)"
                    [disabled]="estaLetraDeshabilitada(letra)">
              {{ letra }}
            </button>
          }
        </div>
  
        @if (mensaje) {
          <p [class.ganador]="mensaje.includes('Felicidades')" 
             [class.perdedor]="mensaje.includes('terminado')">
            {{ mensaje }}
          </p>
          <button class="reiniciar" (click)="reiniciarJuego()">Jugar de nuevo</button>
        }
      </div>
    </div>
  </div>