.chat-container {
    position: fixed;
    bottom: 30px;
    right: 98px;
    width: 400px;
    max-height: 400px; /* Limita la altura del chat */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .chat-mensajes {
    flex: 1; /* Permite que este contenedor ocupe el espacio disponible */
    overflow-y: auto; /* Permite el scroll cuando hay overflow */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .mensaje-propio {
    align-self: flex-end;
    background-color: #e1ffc7; /* Color de fondo para mensajes propios */
    border-radius: 10px;
    padding: 5px;
    max-width: 75%; /* Limita el ancho de los mensajes propios */
  }
  
  .mensaje-otro {
    align-self: flex-start;
    background-color: #f1f1f1; /* Color de fondo para mensajes de otros */
    border-radius: 10px;
    padding: 5px;
    max-width: 75%; /* Limita el ancho de los mensajes de otros */
  }
  
  .hora {
    font-size: 0.8em;
    color: gray;
  }
  
  .chat-input {
    padding: 10px;
  }
  
  .chat-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 30px;
  }
  