<main class="mt-5 pt-5">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card shadow mt-4">
            <div class="card-header">
              <h1 class="text-center my-3">Quien soy</h1>
            </div>
            <div class="card-body mt-2">
              <div class="d-flex justify-content-center">
                <img
                  width="200"
                  src="foto.jpg"
                  alt="Mi foto"
                  class="img-fluid rounded-circle"
                />
              </div>
              <h3 class="mt-4">Mis datos</h3>
              <p>Ciro Rodriguez Roig</p>
              <p>21 años</p>
              <h5 class="mt-4">Tecnologías</h5>
              <div class="d-flex justify-content-left flex-wrap">
                <i class="devicon-cplusplus-plain colored mx-2" style="font-size: 2rem;"></i>
                <i class="devicon-csharp-plain colored mx-2" style="font-size: 2rem;"></i>
                <i class="devicon-php-plain colored mx-2" style="font-size: 2rem;"></i>
                <i class="devicon-javascript-plain colored mx-2" style="font-size: 2rem;"></i>
                <i class="devicon-nodejs-plain colored mx-2" style="font-size: 2rem;"></i>
                <i class="devicon-python-plain colored mx-2" style="font-size: 2rem;"></i>

              </div>
              <div class="border-bottom mt-3 mb-3"></div>
              <h3>Explicación juego propio</h3>
              <h5>Snake</h5>
              <p>
                El juego que elegi es el clasico snake, un juego simple pero divertido que puede ser disfrutado por todo el mundo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  